html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Helvetica";
}
canvas {
  display: block;
}

#sideConfiguration {
  overflow-y: scroll;
  position:  absolute;
  width: 200px;
  height: 100vh;
  padding: 20px;
  background-color: white;
  top: 0; 
  left: 0;
}

.configTitle {
  font-weight: bold;
}

.button {
  align-items: center;
  border: none;
  outline: none;
  color: white;
  border-radius: 2px;
  padding: 10px;
  font-weight: bold;
  margin-top: 5px;
}

.button-red {
  background-color: #f54e42;
}

.button-blue {
  background-color: rgb(61, 98, 200);
}

.button-yellow {
  background-color: #f54263;
}

.button:hover {
  cursor: pointer;
}

#note {
  position: absolute;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  color: black;
  font-size: 15px;
  bottom: 0;
  right: 0;
}

.new-form {
  margin-top: 20px;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-input {
  outline: none;
  border: none;
  background-color: rgb(191, 195, 201);
  width: 100%; 
  border-radius: 2px;
}

.form-text-input {
  padding: 10px;
  width: calc(100% - 20px);
}


.form-label {
  font-size: 10px;
  margin-bottom: 2px;
}

.tiny-note {
  font-size: 10px;
}

.mult-factor {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 10px;
}
